<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h3>Sign-In</h3>

                <form method="post" v-on:submit.prevent="submit()">
                    <div class="modal-body">
                        <div class="form-group-lg">
                            <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Username or Email" v-model="credentials.username">
                        </div>
                        <div class="form-group-lg">
                            <input type="password" class="form-control" id="exampleInputEmail1" name="password" placeholder="Password" v-model="credentials.password">
                        </div>
                        <div class="form-group-lg">
                            <button type="submit" class="btn btn-bevel btn-orange btn-hover-blue" role="button" style="width: 250px">
                                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <b>LOGIN</b>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
 </template>

 <script>
    import AuthService from '../services/auth';
    import UserStore from '../stores/user';
    export default {

        data() {
            return {
                credentials: {
                    username: '',
                    password: ''
                },
                error: ''
            }
        },

        methods: {
            submit: function() {
                var credentials = {
                    username: this.credentials.username,
                    password: this.credentials.password
                };

                AuthService.retrieveToken(this, credentials, function(user) {
                    UserStore.setUser(user);
                    $('#loginModal').modal('hide');
                });
            }
        },

        created: function() {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
        }

    }
 </script>