<style>
    .no-border {
        border: 0;
    }
</style>

<template>
    <template v-for="category in statuses" track-by="$index">
        <div class="list-server-cat text-uppercase">{{$key}}</div>

        <template v-for="server in category" track-by="$index">

            <template v-if="server.latest_status != null">
                <div class="panel no-border list-server-item" v-bind:class="[ server.latest_status.is_online == 1 && server.tag != 'offline' ? 'server-online' : '',
                                                                    server.latest_status.is_online == 0 || server.tag == 'offline' ? 'server-offline' : '',
                                                                    server.latest_status.is_online == 2 || server.tag == 'maintenance' ? 'server-maintenance' : ''
                                                                    ]">
                    <div class="panel-body text-uppercase">
                        <div class="row">
                            <div class="col-xs-5"><a href="#" v-link="{path: '/server/' + server.id + '/status'}">{{server.name}}</a></div>
                            <div class="col-xs-2"><span class="badge">
                                <template v-if="server.latest_status.is_online == 1 && server.tag != 'offline'">
                                    {{server.latest_status.current_players}} / {{server.latest_status.max_players}}
                                </template>
                                <template v-else>Offline</template>
                            </span></div>
                            <div class="col-xs-5 text-lowercase right-align">
                                <template v-if="server.ip_alias != null">
                                    {{server.ip_alias}} <span class="text-emphasis">or</span>
                                </template>

                                {{server.ip}}

                                <template v-if="server.show_port">
                                    <span class="text-emphasis">:{{server.port}}</span>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="panel no-border list-server-item server-maintenance">
                    <div class="panel-body text-uppercase">
                        <div class="row">
                            <div class="col-xs-5"><a href="#" v-link="{path: '/server/' + server.id + '/status'}">{{server.name}}</a></div>
                            <div class="col-xs-2"><span class="badge">ERROR</span></div>
                            <div class="col-xs-5 text-lowercase right-align">
                                <template v-if="server.ip_alias != null">
                                    {{server.ip_alias}} <span class="text-emphasis">or</span>
                                </template>

                                {{server.ip}}

                                <template v-if="server.show_port">
                                    <span class="text-emphasis">:{{server.port}}</span>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </template>
    </template>
</template>

<script>
    export default {
        data() {
            return {
                statuses: []
            }
        },

        methods: {
            fetch: function() {
                var self = this;
                self.$http.get('servers/status').then(function(response) {
                    self.statuses = response.data;
                }, function(response) {
                    console.log(response);
                });

                setTimeout(self.fetch, 90000);
            }
        },

        created: function() {
            this.fetch();
        },

        events: {
            'server-ping': function() {
                this.fetch();
            }
        }
    }
</script>