<template>
    <div class="panel panel-primary layout-donator">
        <div class="panel-body">
            <div class="center-align text-uppercase"><h5>Help Keep Us Online</h5></div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-donated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    $600
                </div>
                <div class="progress-bar progress-bar-none" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    $400
                </div>
            </div>

            <ul>
                <li>Reserved server player slots</li>
                <li>Coloured name</li>
                <li>Donator title and <a href="" v-link="{ path: '/donate' }">other benefits</a></li>
            </ul>

            <a class="btn btn-bevel btn-white btn-hover-orange" href="" v-link="{ path: '/donate' }" role="button" style="width:100%">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <b>Donate</b>
            </a>
        </div>
    </div>
</template>

<script>
    export default {}
</script>