<style>
    .fade-transition
    {
      transition: opacity .1s ease;
    }
    .fade-enter, .fade-leave
    {
      opacity: 0;
    }
</style>

<template>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Website Control Panel
                    </div>
                    <div class="panel-body">

                        <ul class="nav nav-pills">
                            <li role="presentation"><a href="" v-link="{path: '/staff'}">Main</a></li>
                            <li role="presentation"><a href="" v-link="{path: '/staff/forum'}">Forums</a></li>
                            <li role="presentation"><a href="" v-link="{path: '/staff/servers'}">Servers</a></li>
                            <li role="presentation"><a href="" v-link="{path: ''}">Users</a></li>
                            <li role="presentation"><a href="" v-link="{path: ''}">Roles & Permissions</a></li>
                            <li role="presentation"><a href="" v-link="{path: ''}">Maintenance</a></li>
                            <li role="presentation"><a href="" v-link="{path: ''}">Settings</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <router-view transition="fade" transition-mode="out-in"></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        }

    }
</script>