<style>
    .cover {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('http://localhost/PCB_update/public/img/news_img.jpg');
        height: 100px;
    }

</style>

<template>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-8">
                    <h3><span class="glyphicon glyphicon-pushpin" v-if="thread.is_stickied" aria-hidden="true"></span></h3>
                </div>
                <div class="col-sm-4 text-right">
                    <ul class="list-inline text-center">
                        <li>
                            <dt>{{thread.reply_count}}</dt>
                            <dd>Replies</do>
                        </li>
                        <li>
                            <dt>17</dt>
                            <dd>Posters</do>
                        </li>
                        <li>
                            <dt>{{thread.view_count}}</dt>
                            <dd>Views</do>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item cover">
            </li>
        </ul>

        <div class="panel-body forum-post">
            <h2>{{thread.title}}</h2>
            <p>Posted by Andy (5 days ago)</p>

            {{{root.message}}}

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="list-inline liked-users">
                        <li>Liked by 17 users</li>
                        <li><img src="https://minotar.net/avatar/_andy/16.png"></li>
                        <li><img src="https://minotar.net/avatar/_andy/16.png"></li>
                        <li><img src="https://minotar.net/avatar/_andy/16.png"></li>
                        <li><img src="https://minotar.net/avatar/_andy/16.png"></li>
                        <li><img src="https://minotar.net/avatar/_andy/16.png"></li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> like
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> new post
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['thread', 'root']
    }
</script>