<template>
    <template v-for="item in queue">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3>{{item.code}} Error</h3>
            The web server returned an error: <strong>{{item.message}}</strong>
        </div>
    </template>
</template>

<script>
    export default {
        props: ['queue']
    }
</script>