<template>
    <form method="post" class="form-horizontal" v-on:submit.prevent="submit">
        <div class="panel panel-default">
            <div class="panel-heading">
               <h5>Add a Poll</h5>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Question / Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" placeholder="How many sheep are in your herd?" v-model="question">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Choices</label>
                    <div class="col-sm-10">
                        <div class="input-group" v-for="choice in choices">
                            <span class="input-group-addon" id="sizing-addon1">{{$index + 1}}</span>
                            <input type="text" class="form-control" v-model="choice.text" placeholder="{{choice.placeholder}}">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" v-on:click="deleteChoice($index)">X</button>
                            </span>
                        </div>

                        <button class="btn btn-default" style="margin-top: 5px" type="button" v-on:click="addChoice">Add Choice</button>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Vote Locks:</label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Never
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                <input type="text" class="form-control" value="1" placeholder="1">
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Vote Settings</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" v-model="vote_req_post">
                                Vote must be accomponied by a message
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" v-model="votes_visible">
                                Vote results are always visible
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" v-model="anonymous_votes">
                                Votes are anonymous
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Max. Choices</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" placeholder="1" v-model="max_choices">
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <input class="btn btn-primary" type="submit" value="Create Poll">
            </div>
        </div>
    </form>
</template>

<script>
    import ForumErrorMixin from '../../mixins/forum-error.mixin.js';

    export default {
        data() {
            return {
                choices: [],
                placeholders: [
                    "One whole sheep",
                    "7 but they turned out to be pigs",
                    "Wait, I was supposed to herd them?",
                    "What's a sheep?",
                    "I'm a sheep",
                    "A lot of sheep",
                    "Many sheep",
                ],
                choiceIndex: 0,

                question: '',
                vote_req_post: false,
                votes_visible: false,
                anonymous_votes: false,
                max_choices: 1,
            }
        },

        props: ['thread_id'],

        mixins: [ForumErrorMixin],

        created: function() {
            for(var i=0; i<3; i++) {
                this.addChoice();
            }
        },

        methods: {
            addChoice: function() {
                this.choices.push({
                    placeholder: this.placeholders[ this.choiceIndex ],
                    text: ''
                });

                this.choiceIndex = (this.choiceIndex + 1) % this.placeholders.length;
            },

            deleteChoice: function(index) {
                if(this.choices.length > 1) {
                    this.choices.splice(index, 1);
                }
            },

            submit: function() {
                var choices = [];
                for(var i=0; i<this.choices.length; i++)
                {
                    choices.push(this.choices[i].text);
                }

                var data = {
                    thread_id: this.thread_id,
                    question: this.question,
                    choices: JSON.stringify(choices),
                    vote_req_post: this.vote_req_post,
                    votes_visible: this.votes_visible,
                    anonymous_votes: this.anonymous_votes
                };

                var self = this;
                this.$http.post('forums/poll/create', data).then(function(response) {
                    console.log(response);
                }, function(response) {
                    console.log(response);
                    this.broadcastError(response);
                });
            }
        }
    }
</script>