<template>
    <forum-topic
            v-if="thread.root_type == 'post'"
            :thread="thread"
            :root="thread.root">
    </forum-topic>

    <forum-announcement
            v-if="thread.root_type == 'announcement'"
            :thread="thread"
            :root="thread.root">
    </forum-announcement>
</template>

<script>
    import ForumTopic from './forum-thread-topic.vue';
    import ForumAnnouncement from './forum-thread-announcement.vue';

    export default {
        props: ['thread', 'users'],

        components: {
            'forum-topic': ForumTopic,
            'forum-announcement': ForumAnnouncement,
        }
    }
</script>