<style>
    .ct-series-a .ct-bar {
        stroke: #df6745;
        stroke-width: 20px;
        /*stroke-linecap: round;*/
    }

    .progress {
        margin: 0;
    }
</style>

<template>
        <form action="post" v-on:submit.prevent="submitVote">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>Poll: {{poll.question}}</h3>
                        </div>
                        <div class="col-sm-4">
                            <ul class="nav nav-pills nav-justified">
                                <li role="presentation" v-bind:class="{active: tab == 'vote'}"><a href="" v-on:click.prevent="setTab('vote')">Vote</a></li>
                                <li role="presentation" v-bind:class="{active: tab == 'results'}"><a href="" v-on:click.prevent="setTab('results')">Results</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div v-show="tab == 'vote'">
                    <div class="panel-body">
                        <div class="radio" v-for="choice in poll.choices">
                            <label>
                                <input type="radio" v-model="pollSelection" id="selection{{$index}}" value="{{choice.id}}">
                                {{choice.choice}}
                            </label>
                            <hr />
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-lg btn-primary" type="submit">Submit Vote</button>
                    </div>
                </div>
                <div v-show="tab == 'results'">
                    <div class="panel-body">
                        <template v-for="choice in poll.choices">
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                {{choice.choice}}
                            </div>
                            <div class="col-sm-5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" v-bind:style="{width: (choice.votes.length / totalVotes) * 100 + '%'}">
                                        {{(choice.votes.length / totalVotes) * 100}}%
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <ul class="list-inline liked-users">
                                    <li>{{choice.votes.length}} Votes</li>
                                    <li v-for="voter in choice.votes">
                                        <img src="https://minotar.net/avatar/_andy/16.png" class="img-circle">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row"><hr /></div>
                        </template>
                    </div>
                </div>

            </div>
        </form>
</template>

<script>
    import ForumErrorMixin from '../../mixins/forum-error.mixin.js';

    export default {
        data() {
            return {
                tab: 'vote',
                pollSelection: []
            }
        },

        props: ['poll'],

        mixins: [ForumErrorMixin],

        computed: {
            totalVotes: function() {
                var total = 0;
                for(var i=0; i<this.poll.choices.length; i++) {
                    total += this.poll.choices[i].votes.length;
                }
                return total;
            }
        },

        methods: {
            setTab: function(tab) {
                this.tab = tab;
            },

            submitVote: function() {
                var data = {
                    selection: this.pollSelection
                };

                var self = this;
                this.$http.post('forums/poll/' + this.poll.id + '/vote', data).then(function(response) {
                    console.log(response);
                }, function(response) {
                    console.log(response);
                    this.broadcastError(response);
                });
            },
        }

    }
</script>