<template>
    <div class="panel panel-default">
        <div class="panel-body text-right">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" data-toggle="collapse" href="#pollForm">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Add a Poll
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" v-on:click="setUnread">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Mark as Unread
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" v-on:click="setState('sticky')" v-bind:class="{'active': is_stickied}">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> <span v-if="is_stickied">Un</span>Pin
                </button>
                <button type="button" class="btn btn-default" v-on:click="setState('lock')" v-bind:class="{'active': is_locked}">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> <span v-if="is_locked">Un</span>Lock
                </button>
                <button type="button" class="btn btn-default" v-on:click="setState('seal')" v-bind:class="{'active': is_sealed}">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> <span v-if="is_sealed">Un</span>Seal
                </button>
                <button type="button" class="btn btn-default" v-on:click="setState('archive')" v-bind:class="{'active': is_archived}">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span v-if="is_archived">Un</span>Archive
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Delete and Warn</a></li>
                    <li><a href="#">Delete and Ban</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import ForumErrorMixin from '../../mixins/forum-error.mixin.js';

    export default {

        props: [
            'thread_id',
            'is_stickied',
            'is_locked',
            'is_sealed',
            'is_archived'
        ],

        mixins: [ForumErrorMixin],

        methods: {
            setState: function(state) {
                var self = this;
                this.$http.post('forums/thread/' + this.thread_id + '/' + state, {}).then(function(response) {
                    if(response.data.success) {
                        self.$dispatch('is_dirty', true)
                    }
                }, function(response) {
                    this.broadcastError(response);
                });
            },

            setUnread: function() {
                this.$http.post('forums/thread/' + this.thread_id + '/unread', {}).then(function(response) {
                    if(response.data.success) {

                    }
                }, function(response) {
                    this.broadcastError(response);
                });
            }
        }

    }
</script>