<template>
    <div class="row">
            <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading-page">
                    <h3>Help Keep Us Online</h3>
                </div>

                <div class="panel-body large-contents" id="toc">
                    <p class="lead">Annual Breakdown</p>

                    Donated This Year (<strong>$0 <abbr class="initialism">USD</abbr></strong>)
                    <div class="progress" style="height: 50px">
                        <div class="progress-bar progress-bar-donated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{$percent_truncated}}%">
                            $0
                        </div>
                        <div class="progress-bar progress-bar-none" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{100 - $percent_truncated}}%;"></div>
                    </div>

                    Running Costs (<strong>$0 <abbr class="initialism">USD</abbr></strong>)
                    <div class="progress">
                        <div class="progress-bar" style="background-color:#3a4650; width: 70%">
                            <span>$850</span>
                        </div>
                        <div class="progress-bar" style="background-color:#627988; width: 20%">
                            <span>$100</span>
                        </div>
                        <div class="progress-bar" style="background-color:#7e9caf; width: 10%">
                            <span>$50</span>
                        </div>
                    </div>

                    <dl class="dl-horizontal" style="margin-top: 25px">
                      <dt>Annual Record</dt>
                      <dd>$1318.51 <abbr class="initialism">USD</abbr></dd>

                      <dt>Highest Donation</dt>
                      <dd>$262.00 <abbr class="initialism">USD</abbr> (Metazealot)</dd>
                    </dl>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body large-contents">
                    <p class="lead">Donations are the only way to keep our servers running.</p>

                    <p>
                        $2 <abbr class="initialism">USD</abbr> per month or $20 <abbr class="initialism">USD</abbr> for life.<br />
                        A <strong>minimum of $2 <abbr class="initialism">USD</abbr></strong> will entitle you to donation status for one month.
                    </p>
                    <hr />
                    <p>
                        <h5>Donator Perks*</h5>
                        <ul>
                            <li>Coloured name</li>
                            <li>Website & in-game donator title</li>
                        </ul>

                        You will also receive the following <i>Trusted</i> rank permissions:
                        <ul>
                            <li>Flying</li>
                            <li>Custom nicknames</li>
                            <li>Teleporting</li>
                            <li>
                                Death chests
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="A chest containing your items, spawned upon death at your death location">[?]</a>
                            </li>
                            <li>
                                Increased home limit
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Increased to 5 homes">[?]</a>
                            </li>
                        </ul>

                        <hr />

                        <p>Every dollar past our $1000 goal is used to pay the next year's running costs. No money goes into our pockets.</p>

                        <p class="small">* Donations are not in exchange for any in-game rewards or money in accordance with the Minecraft terms of service.</p>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div style="background:#ffffff; padding-top:10px; margin-bottom:-10px" class="center-align">
                    <h6 class="text-uppercase">Donation Goals</h6>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                          <li class="list-group-item">
                            <div class="pull-right"><h5>$0 / $0</h5></div>
                            <h5>Dedicated Server</h5>
                            <p class="small">The annual fee charged by our hosts to run our survival/creative Minecraft server.</p>
                          </li>
                          <li class="list-group-item">
                              <div class="pull-right"><h5>$0 / $0</h5></div>
                              <h5>Web Server</h5>
                              <p class="small">The annual fee charged by our hosts to run the server hosting this website.</p>
                          </li>
                          <li class="list-group-item">
                            <div class="pull-right"><h5>$0 / $0</h5></div>
                            <h5>Domain Names</h5>
                            <p class="small">Annual domain registration fee (including WHOIS guard).</p>
                          </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        ready: function() {
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            });

            this.$dispatch('onTabSelected', '');
        }

    }
</script>