<template>
    <div>
        <div class="col-sm-12">
            <div class="panel panel-default top-bar">
                <div class="panel-heading">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Display Name</td>
                                <td>Role(s)</td>
                                <td>Member Since</td>
                                <td>Threads</td>
                                <td>Posts</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr v-for="user in users">
                            <td><img v-bind:src="getAvatar(user)" /></td>
                            <td><a href="" v-link="{path: '/user/' + user.id}">{{getDisplayName(user)}}</a></td>
                            <td>{{getRoles(user)}}</td>
                            <td>{{user.created_at}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    test
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ForumErrorMixin from '../mixins/forum-error.mixin.js';

    export default {
        data() {
            return {
                users: []
            }
        },

        mixins: [ForumErrorMixin],

        methods: {
            getUsers: function() {
                this.$http.get('user/list').then(function(response) {
                    this.users = response.data.users;
                }, function(response) {
                    this.broadcastError(response);
                });
            },

            getDisplayName: function(user) {
                return (user.alias == null) ? user.username : user.alias;
            },

            getRoles: function(user) {
                var roles = [];
                for(var i=0; i<user.roles.length; i++) {
                    roles.push(user.roles[i].name);
                }
                return roles.join(", ");
            },

            getAvatar: function(user) {
                return 'https://minotar.net/avatar/' + this.getDisplayName(user) + '/16.png';
            }
        },

        route: {
            activate: function() {
                this.getUsers();
            }
        }
    }
</script>