<template>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="owl-carousel">
                        <div><img class="owl-lazy" data-src="img/bg/2015-11-24_19.29.12.png" alt="..."></div>
                        <div><img class="owl-lazy" data-src="img/bg/ph2UZ9W.png" alt="..."></div>
                        <div><img class="owl-lazy" data-src="img/bg/2015-11-23_23.42.53.png" alt="..."></div>
                        <div><img class="owl-lazy" data-src="img/bg/2015-11-24_19.27.32.png" alt="..."></div>
                        <div><img class="owl-lazy" data-src="img/bg/2015-11-24_19.31.17.png" alt="..."></div>
                        <div><img class="owl-lazy" data-src="https://d3byct92ei5n7c.cloudfront.net/hhberclba/image/upload/q_80,w_1500/miw6cvbrm3ifvzkecq8z.png" alt="..."></div>
                        <div><img class="owl-lazy" data-src="img/bg/rk6jUPR.png" alt="..."></div>
                        <div><a class="owl-video" href="https://www.youtube.com/watch?v=mvyG_BVR6Xo"></a></div>
                        <div><a class="owl-video" href="https://www.youtube.com/watch?v=BpHbDDhkmN4"></a></div>
                    </div>

                    <div class="owl-dots" style="">
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot active"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default" v-if="latest_news">
                <div class="panel-body">
                    <h5 class="text-uppercase">Latest News</h5>

                    <h2 class="featurette-heading" style="margin-bottom:5px">{{latest_news.thread.title}}</h2>

                    <div style="color:#666; margin-bottom: 25px">
                    <small>Posted by <a href="#">_andy</a> | {{getTime(latest_news.created_at)}} ({{getTimeAgo(latest_news.created_at)}})</small>
                    </div>

                    <img src="img/news_img.jpg" style="width: 100%" />

                    <div class="large-contents">
                    {{{latest_news.message}}}
                    </div>

                    <hr />

                    <div class="right-align">
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <a class="btn btn-default btn-hover-orange" href="#" role="button">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Post Comment
                            </a>
                            <a class="btn btn-bevel btn-blue btn-hover-orange" href="#" role="button" v-link="{path:'forums/topic/' + latest_news.thread.id}">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> View Thread
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                  <a href="#forums" aria-controls="forums" id="tab_threads" role="tab" data-toggle="tab">Latest Discussions</a>
              </li>
              <li role="presentation">
                  <a href="#market" aria-controls="market" id="tab_posts" role="tab" data-toggle="tab">Latest Posts</a>
              </li>
            </ul>
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="forums">
                            <table class="table table-hover table-striped table-condensed">
                                <thead>
                                    <tr>
                                      <th>Thread</th>
                                      <th>Posts</th>
                                      <th>Last Poster</th>
                                      <th>Board</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="thread in threads">
                                      <th><a href="" v-link="{path:'forums/topic/' + thread.id}">{{thread.title}}</a> <span class="label label-danger">Hot</span></h3></th>
                                      <td>{{thread.reply_count}}</td>
                                      <td>
                                          <template v-if="thread.latest_post">
                                            <a href="" v-link="{path:'user/' + thread.latest_post.user_id}">someone</a> ({{getTimeAgo(thread.last_post_at)}})
                                          </template>
                                          <template v-else>
                                              <a href="" v-link="{path:'user/' + thread.root.user_id}">someone</a> ({{getTimeAgo(thread.last_post_at)}})
                                          </template>
                                      </td>
                                      <td><a href="" v-link="{path:'forums/board/' + thread.board.id}">{{thread.board.name}}</a></td>
                                    </tr>
                                  </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="market">
                            <table class="table table-hover table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th>Thread</th>
                                    <th>Posted By</th>
                                    <th>Board</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="post in posts">
                                    <th><a href="" v-link="{path:'forums/topic/' + post.thread.id}">{{post.thread.title}}</a> <span class="label label-danger">Hot</span></h3></th>
                                    <td><a href="" v-link="{path:'user/' + post.user_id}">{{post.user.username}}</a> ({{getTimeAgo(post.created_at)}})</td>
                                    <td><a href="" v-link="{path:'forums/board/' + post.thread.board.id}">{{post.thread.board.name}}</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="right-align">
                        <a class="btn btn-bevel btn-blue btn-hover-orange" href="#" role="button">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> View More
                        </a>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-uppercase">Past Announcements</h5>
                    <img src="img/news_img.jpg" style="width: 100%" />

                    <h2>Off to our next adventure!</h2>
                    test
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <side-donate></side-donate>

            <div class="panel panel-default">
                <div style="background:#ffffff; padding-top:10px; margin-bottom:-10px" class="center-align">
                    <h6 class="text-uppercase">Richest Player</h6>
                    <h4><img src="https://minotar.net/avatar/Johnathan/32.png" /> Johnathan <small>( $17,042.12 )</small></h4>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                          <tbody>
                            <tr>
                              <th scope="row">2</th>
                              <td><img src="https://minotar.net/avatar/_andy/16.png" /></td>
                              <td>_andy</td>
                              <td class="right-align">$713.05</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td><img src="https://minotar.net/avatar/clone1018/16.png" /></td>
                              <td>the Bird</td>
                              <td class="right-align">$500.00</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td><img src="https://minotar.net/avatar/clone1018/16.png" /></td>
                              <td>the Bird</td>
                              <td class="right-align">$500.00</td>
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td><img src="https://minotar.net/avatar/clone1018/16.png" /></td>
                              <td>the Bird</td>
                              <td class="right-align">$500.00</td>
                            </tr>
                          </tbody>
                        </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div style="background:#ffffff; padding-top:10px; margin-bottom:-10px" class="center-align">
                    <h6 class="text-uppercase">Recent Event Winners</h6>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                          <tbody>
                            <tr>
                              <td>Monthly Build</td>
                              <td><img src="https://minotar.net/avatar/_andy/16.png" /></td>
                              <td>_andy</td>
                            </tr>
                            <tr>
                              <td>Mob Gauntlet</td>
                              <td><img src="https://minotar.net/avatar/_andy/16.png" /></td>
                              <td>_andy</td>
                            </tr>
                          </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    var moment = require('moment');

    export default {
        data() {
            return {
                latest_news: {thread: []},
                news: [],
                threads: [],
                posts: []
            }
        },

        methods: {
            getNews: function() {
                this.$http.get('news/latest').then(function(response) {
                    this.news = response.data.forum_announcements;
                    this.latest_news = this.news[0];
                }, function(response) {
                    console.log(response);
                });
            },

            getThreads: function() {
                this.$http.get('forums/thread/latest').then(function(response) {
                    this.threads = response.data.forum_threads;
                }, function(response) {
                    console.log(response);
                });
            },

            getPosts: function() {
                this.$http.get('forums/post/latest').then(function(response) {
                    this.posts = response.data.forum_posts;
                }, function(response) {
                    console.log(response);
                });
            },

            getTime: function(time) {
                return moment(time).format("MMM Do, YYYY - h:mm a");
            },

            getTimeAgo: function(time) {
                return moment(time).fromNow();
            }
        },

        ready: function() {
            $(document).ready(function(){
                $(".owl-carousel").owlCarousel({
                    loop: true,
                    center: true,
                    margin: 10,
                    items: 1,
                    lazyLoad: true,
                    video: true,

                    autoplay:true,
                    autoplayTimeout:2000,
                    autoplayHoverPause:true,

                    videoWidth: 605, // Default false; Type: Boolean/Number
                    videoHeight: 333, // Default false; Type: Boolean/Number
                });
            });

            var self = this;
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if(e.target.id == "tab_threads") {
                    self.getThreads();
                } else if(e.target.id == "tab_posts") {
                    self.getPosts();
                }
            })

            this.$dispatch('onTabSelected', 'home');
        },

        created: function() {
            this.getNews();
            this.getThreads();
        }
    }
</script>