<template>
    <div class="row">
        <div class="col-sm-8">
            <router-view transition-mode="out-in"></router-view>
        </div>

        <div class="col-sm-4">
            <div class="list-group">
              <a href="" class="list-group-item" v-link="{ path: '/info/faq', activeClass: 'active' }">FAQ</a>
              <a href="" class="list-group-item" v-link="{ path: '/info/rules', activeClass: 'active' }">Rules & Guidelines</a>
              <a href="" class="list-group-item" v-link="{ path: '/info/commands', activeClass: 'active' }">Commands</a>
              <a href="" class="list-group-item" v-link="{ path: '/info/ranks', activeClass: 'active' }">Ranks</a>
              <a href="" class="list-group-item" v-link="{ path: '/info/economy', activeClass: 'active' }">Economy</a>
              <a href="" class="list-group-item" v-link="{ path: '/info/staff', activeClass: 'active' }">Staff</a>
            </div>

            <side-donate></side-donate>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
            }
        },

        ready: function() {
            this.$dispatch('onTabSelected', 'info');
        }

    }
</script>