<style type="text/css">
    .guidelines ul
    {
        margin-top: 25px;
    }

    .guidelines ul > li
    {
        padding-bottom: 10px;
    }
</style>

<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading-page">
                <h3>Rules & Guidelines</h3>
            </div>

            <ul class="list-group large-contents">
                <li class="list-group-item">
                    <ul>
                        <li><a href="#">General community and server guidelines</a></li>
                        <li><a href="#">Survival map guidelines</a></li>
                        <li><a href="#">Creative map guidelines</a></li>
                        <li><a href="#">Pixelmon server guidelines</a></li>
                        <li><a href="#">Feed the Beast server guidelines</a></li>
                        <li><a href="#">Terraria server guidelines</a></li>
                    </ul>
                </li>
                <li class="list-group-item" class="guidelines">
                    <h3>General Guidelines</h3>
                    By joining our servers and the community, you must abide by these simple rules.

                    <ul>
                        <li>
                            <h4>No griefing</h4>
                            We have a strict zero tolerance towards any form of griefing. This includes (but not limited to) causing destruction upon work which is
                            not your own, impersonating administrators, stealing items or any act with the intention of malice:
                        </li>
                        <li>
                            <h4>Do not harass other players</h4>
                            This includes excessive swearing, racism, spam or general disrespect to staff.
                        </li>
                        <li>
                            <h4>Do not use malicious hacks</h4>
                            See the <a href="" v-link="{path: '/info/faq'}">FAQ</a> for a list of permitted hacks
                        </li>
                        <li>
                            <h4>Do not create offensive imagery</h4>
                            If your work offends or is likely to offend, please do not build it. Your work may be removed at the discrepancy of staff where this
                            is the case.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>