<style>
    .map-item {
        min-height: 90px;
        line-height: 70px;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        border:0;
    }

    .map-item h4 {
        color: #fff;
        font-weight: bold;
        vertical-align: middle;
        display: inline-block;
    }
</style>

<template>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading-page">
                    <h3>Real-Time Maps</h3>
                </div>

                <div class="panel-body large-contents">
                    <p class="lead">Select a game server</p>

                    <ul class="list-group">
                        <li class="list-group-item map-item" style="background-image:url('img/map_img_mc_creative.jpg')">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Minecraft: Survival / Creative</h4>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-lg btn-primary" href="#" role="button">
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Show
                                        </a>
                                        <a class="btn btn-lg btn-primary" href="#" role="button">
                                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Full Screen
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item map-item" style="background-image:url('img/map_img_mc_ftb.jpg')">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Minecraft: Feed the Beast</h4>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-lg btn-primary" href="#" role="button">
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Show
                                        </a>
                                        <a class="btn btn-lg btn-primary" href="#" role="button">
                                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Full Screen
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item map-item" style="background-image:url('img/map_img_mc_pixelmon.jpg')">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Minecraft: Pixelmon</h4>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-lg btn-primary" href="#" role="button">
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Show
                                        </a>
                                        <a class="btn btn-lg btn-primary" href="#" role="button">
                                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Full Screen
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item map-item" style="background-image:url('img/map_img_terraria.jpg')">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Terraria</h4>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-lg btn-primary" href="#" role="button">
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Show
                                        </a>
                                        <a class="btn btn-lg btn-primary" href="#" role="button">
                                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Full Screen
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-sm-4">
            <side-donate></side-donate>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
            }
        },

        ready: function() {
            this.$dispatch('onTabSelected', 'stats');
        }

    }
</script>