<template>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading-page">
                    <h3>Create an Account</h3>
                </div>

                <ul class="list-group large-contents">
                    <li class="list-group-item">
                        steps here
                    </li>
                    <li class="list-group-item">
                        <router-view></router-view>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                step: 1
            }
        },

        ready: function() {
            this.$dispatch('onTabSelected', '');
        }
    }
</script>