<style>
    .ct-series-a .ct-line {
        /* Set the colour of this series line */
        stroke: #df6745;
        /* Control the thikness of your lines */
        stroke-width: 4px;
        /* Create a dashed line with a pattern */
        /*stroke-dasharray: 5px 5px;*/
    }

    .ct-series-a .ct-point {
        /* Colour of your points */
        stroke: #3a4750;
        /* Size of your points */
        stroke-width: 7px;
    }

    .percentage
    {
        color: #888;
        font-weight: normal;
    }

    .dl-horizontal dt
    {
        color: #888;
        width: 80px;
        padding-top: 5px;
        font-weight: normal;
    }

    .dl-horizontal dd
    {
        margin-left: 100px;
        padding-top: 5px;
    }
</style>

<template>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">

                <div class="panel-heading-page">
                    <h3>Survival & Creative</h3>
                </div>

                <ul class="list-group large-contents">
                    <li class="list-group-item">

                        <div class="btn-group btn-group-sm btn-group-justified" role="group" aria-label="...">
                            <a class="btn btn-default" role="button" v-on:click="getPlayerCounts(5)">5 minutes</a>
                            <a class="btn btn-default" role="button" v-on:click="getPlayerCounts(30)">30 minutes</a>
                            <a class="btn btn-default" role="button" v-on:click="getPlayerCounts(60)">Hourly</a>
                            <a class="btn btn-default" role="button" v-on:click="getPlayerCounts(1440)">Daily</a>
                            <a class="btn btn-default" role="button" v-on:click="getPlayerCounts(10080)">Weekly</a>
                        </div>

                        <div class="ct-chart ct-octave" id="chart_players"></div>

                        Last queried: <br />
                        <p class="small">Only players online for at least 5 minutes are counted.</p>
                    </li>

                    <li class="list-group-item">
                        Players Online (Simultaneously)
                        <div class="row">
                            <div class="col-sm-12">
                                This Week
                                <div class="ct-chart ct-double-octave" id="chart_this_weekly"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                All Time
                                <div class="ct-chart ct-double-octave" id="chart_all_weekly"></div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        Players Currently Online ( 0 )
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="35"></th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Session Playtime</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="player in stats.players_today.online | orderBy '$key'">
                                    <td><img v-bind:src="'https://minotar.net/avatar/' + $key + '/16.png'" /></td>
                                    <td>{{$key}}</td>
                                    <td>Guest</td>
                                    <td>{{minToString(player)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>

                    <li class="list-group-item">
                        Players Online Today ( {{arrayLength(this.stats.players_today)}} )
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="35"></th>
                                <th>Username</th>
                                <th>Playtime Today</th>
                                <th>Playtime Total</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="player in stats.players_today.today | orderBy '$key'">
                                    <td><img v-bind:src="'https://minotar.net/avatar/' + $key + '/16.png'" /></td>
                                    <td>{{$key}}</td>
                                    <td></td>
                                    <td>{{minToString(player)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Uptime <span class="percentage">(98%)</span></h4>
                    <dl class="dl-horizontal">
                        <dt>Current</dt>
                        <dd>5 days, 2 hours, 42 mins</dd>
                        <dt>Longest</dt>
                        <dd>8 days, 7 hours, 1 min</dd>
                        <dt>Last</dt>
                        <dd>--</dd>
                        <dt>Average</dt>
                        <dd>5 days, 2 hours, 42 mins</dd>
                    </dl>
                </li>

                <li class="list-group-item">
                    <h4>Downtime <span class="percentage">(2%)</span></h4>
                    <dl class="dl-horizontal">
                        <dt>Current</dt>
                        <dd>5 days, 2 hours, 42 mins</dd>
                        <dt>Longest</dt>
                        <dd>8 days, 7 hours, 1 min</dd>
                        <dt>Last</dt>
                        <dd>2 hours ago</dd>
                        <dt>Average</dt>
                        <dd>5 days, 2 hours, 42 mins</dd>
                    </dl>
                </li>
                <li class="list-group-item">Most players:</li>
            </ul>
        </div>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                stats: {
                    'players_today': {
                        'online': [],
                        'today': []
                    },
                    'players_online_weekly': {
                        'all': [],
                        'this_week': []
                    }
                },
                interval: 5
            }
        },

        methods: {
            getStats: function(id) {
                var self = this;
                this.$http.get('server/' + id + '/stats').then(function(response) {
                    var data = response.data;
                    if(data) {
                        self.stats = data;
                        this.createCharts();
                    }
                }, function(response) {
                    console.log(response);
                });
            },

            getPlayerCounts: function(interval) {
                var _chart = $('#chart_players');

                if(interval == this.interval) return;

                var ajaxrequest = $.ajax({
                    type:"get",
                    datatype:"Json",
                    url:"http://localhost/PCB_update/public/api/server/1/pcount/" + interval,
                    data: (typeof data ==="string"? data:null),
                    success: function(data) {
                        var newData = {
                            labels: data.labels,
                            series: [data.series]
                        };

                        var newOptions = {
                            high: data.height
                        };
                        _chart.get(0).__chartist__.update(newData, newOptions, true);
                        this.interval = interval;
                    }
                });
            },

            createCharts: function() {
                var data = {
                    labels: [ 0 ],
                    series: [
                        [ 0 ]
                    ]
                };

                var options = {
                    high: 30,
                    low: 0,
                    showPoint: true,
                    lineSmooth: true,
                    showArea: true,
                    axisY: {
                        onlyInteger: true
                    },
                    axisX: {
                        showGrid: true
                    }
                };

                var chart = new Chartist.Line('#chart_players', data, options);

                // On each drawn element by Chartist we use the Chartist.Svg API to trigger SMIL animations
                chart.on('draw', function(data) {
                    if(data.type === 'point') {
                        // indicate any server downtime with a triangle
                        /*var triangle = new Chartist.Svg('path', {
                         d: ['M',
                         data.x,
                         data.y - 5,
                         'L',
                         data.x - 5,
                         data.y + 5,
                         'L',
                         data.x + 5,
                         data.y + 5,
                         'z'].join(' '),
                         style: 'fill-opacity: 1'
                         }, 'ct-area');
                         data.element.replace(triangle);*/
                    }
                });

                var allWeeklySeries = {
                    avg: [],
                    max: [],
                };

                for(var i=0; i<this.stats.players_online_weekly.all.length; i++)
                {
                    var avg = this.stats.players_online_weekly.all[i].average;
                    allWeeklySeries.avg.push( avg.total / avg.count );

                    var max = this.stats.players_online_weekly.all[i].max;
                    allWeeklySeries.max.push( max.total / max.count );
                }

                new Chartist.Bar('#chart_all_weekly', {
                    labels: [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun' ],
                    series: [ allWeeklySeries.avg, allWeeklySeries.max ]
                }, {
                    low: 0,
                    showPoint: true,
                    axisY: {
                        onlyInteger: true
                    },
                    axisX: {
                        showGrid: false
                    }
                });


                var thisWeeklySeries = {
                    avg: [],
                    max: [],
                };

                for(var i=0; i<this.stats.players_online_weekly.this_week.length; i++)
                {
                    var avg = this.stats.players_online_weekly.this_week[i].average;
                    thisWeeklySeries.avg.push( avg.total / avg.count );

                    var max = this.stats.players_online_weekly.this_week[i].max;
                    thisWeeklySeries.max.push( max.total / max.count );
                }

                new Chartist.Bar('#chart_this_weekly', {
                    labels: [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun' ],
                    series: [ thisWeeklySeries.avg, thisWeeklySeries.max ]
                }, {
                    low: 0,
                    showPoint: true,
                    axisY: {
                        onlyInteger: true
                    },
                    axisX: {
                        showGrid: false
                    }
                });
            },

            minToString: function(mins) {
                var hours = Math.floor(mins / 60);
                var minutes = mins - (hours * 60);

                var hourStr = (hours > 1) ? 'hours' : 'hour';
                var minStr = (minutes > 1) ? 'minutes' : 'minute';

                if(hours > 0) {
                    return hours + " " + hourStr + ", " + minutes + " " + minStr;
                }
                return minutes + " minutes";
            },

            arrayLength: function(array) {
                return array.length;
            }
        },

        created: function() {
            this.getStats( this.$route.params.id );
        }
    }
</script>